body {
    font-size: 2em;
}

#counter {
    border:sienna solid;
    -moz-border-radius: 15px;
    border-radius: 15px;
    width:200px;
    height:220px;
    position: relative;
    left:40%;
    padding: 5px;
}

#headline {
    text-align: center;
    clear: both;
}

#restart {
    position: relative;
    width: 90px;
    left: 45%;
    top: 40px;
}
